dist: xenial

language: python

python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8

env:
  global:
    - WTFORMS="<3"
  matrix:
    - SQLALCHEMY="==0.7.10"
    - SQLALCHEMY="~=0.8.6"
    - SQLALCHEMY="==0.8.6" WTFORMS="==1.0.5"
    - SQLALCHEMY="~=0.9.6"
    - SQLALCHEMY="==0.9.8" WTFORMS="==1.0.5"
    - SQLALCHEMY=""

jobs:
  exclude:
  - python: 3.8
    env: SQLALCHEMY="==0.8.6" WTFORMS="==1.0.5"
  - python: 3.8
    env: SQLALCHEMY="==0.9.8" WTFORMS="==1.0.5"

# command to install dependencies
install:
  - "pip install WTForms$WTFORMS SQLAlchemy$SQLALCHEMY coverage"
  - "pip install ."

# command to run tests
script: coverage run setup.py test
after_success:
  - pip install coveralls
  - coveralls
